@font-face {
    font-family:'Lobster-Regular' ;
    src: url('../fonts/Lobster-Regular.ttf');
}
@font-face {
    font-family:'Maven';
    src: url('../fonts/MavenPro-VariableFont_wght.ttf');
}

@font-face {
    font-family:'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf');
}


:root{
    --screen-font : 'Orbitron';
    --keyboard-font : 'Maven';
    --primary-color: #95adbb;
    --secondary-color: #4ba857;
    --accent-color:#e6dcdc;
    --dark-color:#222B30;
    --light-dark-color:#313e46;
}


body{
    font-size: 16px;
    background-color: #0d1433;
}

#tile{
    font-family: var(--keyboard-font);
    font-size: 5rem;
    margin-top: -2rem;
    padding-bottom: 1.5rem;
    color: #ece177d2;
    text-shadow: 2px 2px 3px rgba(134, 160, 40, 0.514)
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #586F7C;  
    border-radius: 0.50rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border: 0.2rem solid rgba(148, 142, 142, 0.966);
    width: auto;
    height: auto;
}

.calculator .calculator__header{
    border-radius: .8rem;
    border: .3rem solid #222B30;
    width: 90%;
    /* background-color: rgba(101, 235, 83, 0.096); */
    margin-top: 0.5rem;
}
input{
    text-align: center;
    width: 100%;
    height: 4rem;
    background-color: rgba(100, 202, 87, 0);
    border : none;
    border-radius : 0.8rem;
    font-family: var(--screen-font);
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: bold;
}

h1{
    color: var(--secondary-color);
}

.calculator__keyboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--keyboard-font);
    font-size: 1.5rem;
    margin-top: 1rem;
}

.col{
    padding: 1rem;
    border: 2px solid var(--dark-color);
    border-radius: 3rem;
    box-shadow: .01rem .01rem 0.5rem var(--dark-color);
    background-color: var(--dark-color);
    color: var(--accent-color);
    margin: 0.70rem 0.70rem;
    cursor: pointer;
    width: 2.5rem;
    height: 1.5rem;
    text-align: center;
}

.col.generic:hover{
    background-color: var(--light-dark-color);
    color: #cce1ec;
    border-color: var(--dark-color);
    transition: all.2s ease-in-out;
}

.operator{
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    align-self: start;
    /* padding: 2rem; */
    /* justify-content: space-around; */
}


.row.calculate{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

#result{
    height: 10rem;
    background-color: #c4a540;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 3rem;
}

#result:hover{
    background-color: #bb9d3a;
    color: #fff;
}


